<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AbastecedoraPreparadosPedidos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Claves" value="'980103', '980104', '980105', '980106', '980107', '980111', '980119', '980120', '980122'"/>
    <add key="MySQL" value="Server=localhost;Port=3306;Database=control_tortas;Uid=root;Pwd=1234"/>
  </appSettings>
  <userSettings>
    <AbastecedoraPreparadosPedidos.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>servidor</value>
      </setting>
      <setting name="Path" serializeAs="String">
        <value>C:\Microsip datos\Base de datos.FDB</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>Usuario</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Contraseña</value>
      </setting>
      <setting name="Puerto" serializeAs="String">
        <value>3050</value>
      </setting>
      <setting name="Impresora" serializeAs="String">
        <value>Impresora</value>
      </setting>
      <setting name="Serie" serializeAs="String">
        <value>A</value>
      </setting>
    </AbastecedoraPreparadosPedidos.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
